header {
    clear:both;
    margin-bottom:5% ;
    padding: 50px ;
    border-bottom:2px ;
    background-color:#ffffff;
    border-color:#cccccc;
    border-style: solid;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    

}
#main{
    width:650px;
}
body{
    width:960px;
    
    background: #466368;
    background: radial-gradient(#648880, #293f50);
}
#BioBox{
    float:left;
    position:relative;
    background-color:#ffffff;
    color:black;
    top: 100px;
    left: 150px;
    width: 50%;
    height: 50%;
    border: 1px solid #dddddd;
}

#Name{
    margin: 1px;
    position:fixed;
    padding:41px;
    background-color:#4aaaa5;
    float:left;
    top: 0px;
    left: 150px;
    font-family: ;
    font-style:bold;
    color: #ffffff;



}

#links{
    float:left;
    position:fixed;
    padding:42px;
    background-color:#ffffff;
    top:0px;
    right: 150px;

}
#ProfilePic{
    width:150px;
    height: 150px;
}
footer {
    margin-top:5% ;
    padding: 35px;
    border-top: 5px ;
    background-color:#666666;
    border-color: #4aaaa5;
    border-style: solid;
    text-align: center;
    position:fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
#Connectbox{
    clear:both;
    float:right;
    background-color:#ffffff;
    color:black;
    position:relative;
    right:-200px;
    width:20%;
    bottom:160px;

}
